body {
    color:white;
    background-color: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    font-size: 40px;
border-bottom: solid 1px red ;
padding: 20px;
color:crimson
}

.chamada{
    background: rgb(53 3 8);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}


.chamada-texto{
    margin-right: 5%;
    font-size: 20px;
    
}

img {
    height: 200px
}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 20px
}

.categoria {
    padding-left: 20px;
padding-right: 20px;
margin-top: 50px;
}

.categoria-videos img {
opacity: 0.5;
height: 200px
}

.categoria-videos img:hover{ 
opacity: 1;
border: 1px solid forestgreen
}

.categoria h2{
    color:crimson

}